In [1]:
import os, sys
sys.path.append(os.path.abspath(".."))

In [2]:
import numpy as np, time

N = 1_000_00   # adjust if your machine is slow
arr = np.arange(N, dtype=float)

t0 = time.time()
out_loop = [x * 2 for x in arr]
loop_time = time.time() - t0

t0 = time.time()
out_vec = arr * 2
vec_time = time.time() - t0

print(f"Loop: {loop_time:.4f}s  |  Vectorized: {vec_time:.4f}s")

Loop: 0.0052s  |  Vectorized: 0.0001s

In [3]:
a = np.array([1, 2, 3, 4], dtype=float)
b = np.array([10, 20, 30, 40], dtype=float)
print("a + b =", a + b)
print("a ** 2 =", a ** 2)

a + b = [11. 22. 33. 44.]
a ** 2 = [ 1.  4.  9. 16.]

In [4]:
pip install pandas

Requirement already satisfied: pandas in /opt/miniconda3/envs/bootcamp_env/lib/python3.10/site-packages (2.3.1)
Requirement already satisfied: numpy>=1.22.4 in /opt/miniconda3/envs/bootcamp_env/lib/python3.10/site-packages (from pandas) (2.2.6)
Requirement already satisfied: python-dateutil>=2.8.2 in /opt/miniconda3/envs/bootcamp_env/lib/python3.10/site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in /opt/miniconda3/envs/bootcamp_env/lib/python3.10/site-packages (from pandas) (2025.2)
Requirement already satisfied: tzdata>=2022.7 in /opt/miniconda3/envs/bootcamp_env/lib/python3.10/site-packages (from pandas) (2025.2)
Requirement already satisfied: six>=1.5 in /opt/miniconda3/envs/bootcamp_env/lib/python3.10/site-packages (from python-dateutil>=2.8.2->pandas) (1.17.0)
Note: you may need to restart the kernel to use updated packages.

In [8]:
import pandas as pd
from src.utils import get_summary_stats   # <-- the only util we use

df = pd.read_csv("../data/starter_data.csv")

display(df.head())
df.info()

# numeric summary table
summary = get_summary_stats(df)
summary

  category  value        date
0        A     10  2025-08-01
1        B     15  2025-08-02
2        A     12  2025-08-03
3        B     18  2025-08-04
4        C     25  2025-08-05

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10 entries, 0 to 9
Data columns (total 3 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   category  10 non-null     object
 1   value     10 non-null     int64
 2   date      10 non-null     object
dtypes: int64(1), object(2)
memory usage: 368.0+ bytes

       count  mean       std   min    25%   50%    75%   max
value   10.0  17.6  7.381659  10.0  12.25  14.5  23.25  30.0

In [9]:
agg_tbl = (
    df.groupby('category', dropna=False)['value']
      .agg(count="count", mean="mean", median="median", min="min", max="max")
      .reset_index()
)
display(agg_tbl)

  category  count       mean  median  min  max
0        A      4  11.500000    11.5   10   13
1        B      3  15.666667    15.0   14   18
2        C      3  27.666667    28.0   25   30

In [12]:
from pathlib import Path
out_dir = Path("../data/processed")   
out_dir.mkdir(parents=True, exist_ok=True)

summary.to_csv(out_dir / "summary.csv", index=True)
agg_tbl.to_csv(out_dir / f"groupby_{'category'}_{'value'}.csv", index=False)